@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body,
html {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

header.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  background-color: #476c7f;
  color: #fff;
  padding: 10px 0;
}

header.header a {
  color: #fff;
}

.none {
  display: none;
}

.brand {
  font-size: 30px;
  display: block;
  width: 100%;
}

.icons i {
  font-size: 24px;
}

.envelope-notification {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 10px;
}

.email-notification-counter {
  position: absolute;
  top: -7px;
  right: 0px;
  border-radius: 50%;
  padding: 1px 7px;
  font-size: 10px;
  background-color: #66cc99;
  color: #fff;
}

.menu-opener-wrapper {
  display: inline-block;
  width: 50%;
  text-align: left;
  float: left;
}

.menu-user-wrapper {
  display: inline-block;
  width: 50%;
}

.user-header {
  display: inline-block;
  width: 50%;
  text-align: right;
  padding-right: 20px;
}

.menu-wrapper {
  width: 100%;
}

.wrapper {
  display: table;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  min-height: 100vh !important;
}

.left-aside {
  width: 240px;
  background: #FFF;
  border-right: 5px solid #EEE;
}

.left-aside,
.right-aside {
  padding: 0;
  display: table-cell;
  vertical-align: top;
}

.sidebar {
  display: block;
  width: 240px;
}

.navigation {
  padding-left: 0;
}

ul li {
  list-style: none;
}

#menu .navigation .menu-item a,
#menu .navigation .submenu a {
  text-align: left;
  color: #666;
  position: relative;
  transition: all 0.2s;
  display: block;
  font-size: 13px;
  line-height: 20px;
  padding: 11px 20px;
}

#menu .navigation .menu-item a:hover,
#menu .navigation .submenu a:hover {
  color: #476c7f !important;
}

#menu .navigation .active,
#menu .navigation .submenu .active {
  border-right: 3px solid #476c7f;
  background: #EEEEEE;
  color: #476c7f;
}

.navigation .menu-item i {
  font-size: 20px;
  padding-right: 10px;
}

.float-right {
  float: right !important;
}

.submenu-content {
  opacity: 0;
  height: 0px;
}

.submenu-content .submenu-content-box .menu-item {
  padding-left: 20px;
}

.menu-item .submenu-header .submenu-icon i {
  font-size: 10px;
  padding: 0;
}

.right-aside {
  padding: 10px;
  width: 100%;
  max-width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.push-down-50 {
  margin-top: 50px !important;
}

.push-down-100 {
  margin-top: 100px !important;
}

.main-title {
  padding-bottom: 10px;
}

.main-title::after {
  border-bottom: 1px solid #476c7f;
}

.open {
  opacity: 1;
  height: auto;
}

.new-post-content {
  width: 100%;
}

.form-holder form,
.messages-holder {
  width: 70%;
  margin: 0 auto;
}

input,
.new-post-form .form-group input,
.general-data-form input,
.gmap-data-form input,
.social-links-form input ,
.new-member-form input{
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding-left: 10px;
}

input:focus,
.new-post-form .form-group input:focus,
.general-data-form input:focus,
.gmap-data-form input:focus,
.new-member-form input:focus {
  border-color: #476c7f;
}

label,
.new-post-form .form-group label,
.new-member-form label,
.general-data-form .form-group label.col-sm-2,
.gmap-data-form .form-group label,
.social-links-form .form-group label.col-sm-2 {
  font-size: 20px !important;
}

.general-data-holder {
  width: 100%;
  padding: 0 20px;
  margin: 0;
}

.general-data-holder label,
label.col-form-label {
  text-align: left;
}

.general-data-form-holder,
.gmap-data-form-holder {
  width: 100%;
}

.border {
  display: block;
  margin: 30px 0;
  padding: 0 20px;
  border: 1px solid #8c8c8c;
  width: 100%;
}

.general-data-form-holder .messages-holder,
.gmap-data-form-holder .messages-holder,
.social-links-form-holder .messages-holder,
.reply-form-holder .messages-holder,
.event-form-holder .messages-holder {
  width: 100%;
}

.custom-upload-file {
  width: 80% !important;
}

.upload-photo-form .upload-file-input {
  border: none;
  padding: 0;
}

.image-list-holder {
  padding: 10px;
}

.image-list-holder img {
  margin: 20px auto;
  max-width: 250px;
  display: block;
}

.img-holder {
  padding: 0;
  margin: 0 15px;
}

.tab-holder {
  margin-right: 0;
  margin-left: 6px;
  display: block;
  width: 100%;
}

.tab-holder .tab-list-item {
  display: inline-flex;
  margin-right: 20px;
  float: left;
}

.tab-holder .tab-list-item a {
  padding: 5px 10px;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.activeTab {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.about-us-wrapper {
  width: 100%;
}

.new-post-form,
.general-data-form,
.gmap-data-form,
.social-links-form,
.new-member-form {
  margin-bottom: 150px;
}

.new-member-form .upload-file-input,
.new-post-form .form-group .upload-file-input {
  border: none;
}

.message-section-wrapper {
  padding: 0 50px;
  margin: 30px 40px;
}

/* .message-field div {
  display: inline-block;
  width: 50%;
} */

.message-from-holder{
  display: table;
}

.message-field {
  display: table-row
}

.message-heading {
  display: table-cell;
  width: 5%;
  text-align: right;
  padding-right: 20px;
}

.message-heading p {
  font-size: 18px;
}

.reply-form-holder .form-group {
  margin: 0 auto;
  width: 80%;
}

.reply-form .form-group:first-child {
  width: 100%;
}

[data-v-22060ee2] {
  margin: 0 auto;
}

.reply-form {
  margin-top: 30px;
}

.reply-form-holder .reply-message p {
  text-align: left !important;
}

.message-response-time {
  display: table-cell
}

.error {
  color: #ff0000;
}

.general-data-form table {
  margin: 0 auto;
}

.events {
  padding: 10px 30px;
}

.btn-holder {
  width: 100%;
  text-align: left;
  margin: 20px 0;
}

.event-left,
.event-form-holder {
  display: inline-block;
  width: 50%;
  padding: 0 20px;
}

.event-form .form-inline {
  margin: 20px 0;
}

.event-form a {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .navbar {
    position: relative;
  }
  .navbar .user-header {
    position: absolute;
    right: 50px;
    bottom: 18px;
  }
  .navbar .email-notification {
    position: absolute;
    right: 150px;
    bottom: 18px;
  }
  .brand {
    display: inline-block;
    width: 250px;
  }
  .menu-opener {
    margin: 0 50px;
  }
  .email-notification-counter {
    right: -21px;
  }
  .left-aside {
    top: 60px;
  }
  .general-data-form-holder,
  .gmap-data-form-holder {
    width: 50%;
  }
  .border {
    display: none;
  }
}